* {
  font-family: Verdana, Tahoma, san-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(250, 250, 250);
}
p,
input {
  font-size: 16px;
}

.app {
  background-color: rgb(255, 255, 255);
  height: 80vh;
  width: 80vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* //on top of each other */
  /* box-shadow ..1px for y-axis 4px for blur */
}

.result-display {
  background-color: rgb(34, 34, 20);
  width: 96%;
  height: 46%;
  margin: 2%;
  border-radius: 8px;
  /* overflow: hidden; */
  overflow: scroll;
}
.result {
  margin: 20px 30px;
  color: #fff;
}

.buttons {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  background-color: rbg (50, 50, 50);
  padding-left: 5px;
}

.button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 4px;
  background-color: red;
}
.button.first {
  background-color: rgb(255, 96, 86);
}
.button.middle {
  background-color: rgb(255, 189, 45);
}
.button.last {
  background-color: rgb(38, 201, 64);
}
.messages-display {
  width: 96%;
  height: 46%;
  margin: 2%;
  overflow-y: scroll;
}
.message-display {
  display: flex;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 5px 0;
  background-color: rgb(250, 250, 250);
}

/* ---these code will allow scoller be presence all the time ---*/
::webkit-scrollbar ;
 {
  -webkit-appearance: none;
  width: 7px;
}
::webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rbg(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rbga(255, 255, 255, 0.5);
}
/* --- */

p#icon {
  padding: 0 7px;
}

input {
  padding: 16px;
  margin: 2%;
  box-sizing: border-box;
  border: solid rgba(0, 0, 0, 0.16) 1px;
  border-radius: 5px;
}
.btn-container {
  margin: 2%;
  display: flex;
  justify-content: flex-end;
  /* //buttons on the right end */
}

.button-container button {
  text-transform: uppercase;
  padding: 7px;
  border: none;
}
button#get-query {
  background-color: rgb(255, 95, 86);
  height: 30px;
  border-radius: 10px 0 0 10px;
  /* //left top btm rounded */
}
button#clear-chat {
  background-color: rgb(255, 189, 45);
  border-radius: 0 10px 10px 0;
  /* //right top btm rounded */
  height: 30px;
}
